<!-- <p>banner works!</p> -->

<div class="container">
    <div class="title">
        <span>My Portfolio</span>
    </div>

    <div class="name">
        <span>
            <span>Hi,</span> I am
        </span><br>
        <span>Deepak Thakur</span><br>
        <span>Software Developer</span>
    </div>

    <div class="profile">
        <div class="profile-bg"></div>
        <!-- <img src="../../assets/Sundar-Pichar-Profile-Square.png" alt="Profile Img"> -->
        <!-- <img src="../../assets/Deepak_Profile_Pic.png" alt="Deepak"> -->
        <img src="../../assets/Deepak_Pic.png" alt="Deepak">
    </div>

</div>

